In [1]:
import pandas as pd
import numpy as np

In [2]:
linkstoregion = pd.read_csv('/Users/cptnemo2005/Downloads/MABM/Postprocessing/Lookups/links2regions_2016.csv')

In [4]:
linkstoregion

,linkID,Region,LGA,SA2,KeyArea
0,24250_24162,Inner Metro,Melbourne (C),Carlton North - Princes Hill,Parkville
1,16382_16383,Inner Metro,Melbourne (C),Carlton North - Princes Hill,Parkville
2,16382_16381,Inner Metro,Melbourne (C),Carlton North - Princes Hill,Parkville
3,24459_16380,Inner Metro,Melbourne (C),Carlton North - Princes Hill,Parkville
4,24162_24250,Inner Metro,Melbourne (C),Carlton North - Princes Hill,Parkville
...,...,...,...,...,...
60968,99210_99184,Outer Eastern,Yarra Ranges (S),None,None
60969,20656_22189,None,None,None,None
60970,22189_20656,None,None,None,None
60971,116381_22189,None,None,None,None
60972,22189_116381,None,None,None,None

In [14]:
print(linkstoregion['SA2'].nunique())

310

In [58]:
car_counts =  pd.read_csv('/Users/cptnemo2005/Downloads/RunDOTCOVID_16.00_Outputs/Postprocessing/Outputs/TYS16.01/Counts_Car.csv')

In [59]:
index = car_counts['Link']

In [60]:
index

0        10000_10001
1        10000_10003
2        10001_10000
3         10001_9999
4        10002_10003
            ...
60968      9997_9998
60969      9998_9996
60970      9998_9997
60971     9999_10001
60972     9999_24286
Name: Link, Length: 60973, dtype: object

In [61]:
car_counts = car_counts.groupby((np.arange(len(car_counts.columns)) // 8) + 1, axis=1).sum()

In [62]:
car_counts.set_index(index)

             1   2    3    4    5    6    7    8    9    10   11   12  13
Link
10000_10001   0   0   84  172   64   40   80  144  172  152   76   72   0
10000_10003   0   8  248  316   96   64   60   84   84   60   48   12   0
10001_10000   0   8  196  288   68   52   40   56   36   40   52    4   0
10001_9999    0   0   52  128   44   44   72  124  152  116   44   36   0
10002_10003   8  24  500  656  456  340  428  576  624  464  304  148   4
...          ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
9997_9998     0   8  296  268  128   88   96  132  128  144   40   24   0
9998_9996     4  12  316  272  120   80   88  120  136  120   36   20   0
9998_9997     4   0   48  116   60   60   44  164  280  136   48   12   0
9999_10001    0   8  152  196   52   44   40   44   32   28   36    4   0
9999_24286    0   0   36   80   24   36   32   80  108   68   12   24   0

[60973 rows x 13 columns]

In [66]:
print(linkstoregion['SA2'].nunique())

310